* {
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    max-width: 1200px;
}

.grid h1, h2 {
    grid-column: 1 / 7;
}

.grid-container-ex-1 {
    grid-column: 1 / 3;
    display: grid;
    grid-template: 50px 50px / 50px 50px;
    justify-content: center;
}

.grid-container-ex-2 {
    grid-column: 3 / 5;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
  }
  
  .item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
  }
  
  .first-row {
    background-color: pink;
  }
  
  .last-column {
    background-color: lightblue;
  }

  .grid-container-ex-3 {
    grid-column: 5 / 7;
    display: inline-grid;
    justify-content: center;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
  }
  
  .room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
    background-color: lightblue; 
  }
  
  #living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  #kitchen {
    grid-column: 4 / 6;
    grid-row: 3 / 6;
  }
  
  #bedroom {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  #bathroom {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  
  #closet {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  /** PRACTICE **/

  .grid-container-mondrian-practice {
    grid-column: 1 / 4;
    display: grid;
    grid-template: repeat(100, 5px) / repeat(100, 5px);
  }

  .part {
    border: 2px black solid;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

  .part1 {
    grid-column: 1 / 23; /* 22 */
    grid-row: 1 / 11; /* 10 */
    background-color: rgb(173, 173, 173);
  }

  .part2 {
    grid-column: 23 / 61; /* 38 */
    grid-row: 1 / 11; /* 10 */
    background-color: rgb(214, 213, 213);
  }

  .part3 {
    grid-column: 61 / 95; /* 34 */
    grid-row: 1 / 11; /* 10 */
    background-color: yellow;
  }

.part4 {
    grid-column: 95 / 101; /* 6 */
    grid-row: 1 / 76; /* 75 */
    background-color: rgb(245, 242, 242);
}

.part5 {
    grid-column: 1 / 11; /* 10 */
    grid-row: 11 / 36;  /* 25 */
    background-color: rgb(214, 213, 213);
}

.part6 {
    grid-column: 11 / 61; /* 50 */
    grid-row: 11/ 61; /* 50 */
    background-color: rgb(255, 0, 0);
}

.part7 {
    grid-column: 61 / 95; /* 34 */
    grid-row: 11 / 36;  /* 25 */
    background-color: yellow;
}

.part8 {
    grid-column: 1 / 11; /* 10 */
    grid-row: 36 / 76; /* 40 */
    background-color: rgb(214, 213, 213);
}

.part9 {
    grid-column: 61 / 78; /* 17 */
    grid-row: 36 / 61; /* 25 */
    background-color: rgb(214, 213, 213);
}

.part10 {
    grid-column: 78 / 95; /* 17 */
    grid-row: 36 / 61; /* 25 */
    background-color: rgb(214, 213, 213);
}

.part11 {
    grid-column: 1 / 11; /* 10 */
    grid-row: 76 / 101; /* 25 */
    background-color: yellow;
}

.part12 {
    grid-column: 11 / 36; /* 25 */
    grid-row: 61 / 86; /* 25 */
    background-color: black;
}

.part13 {
    grid-column: 36 / 61; /* 25 */
    grid-row: 61 / 76; /* 15 */
    background-color: rgb(173, 173, 173);
}

.part14 {
    grid-column: 36 / 61; /* 25 */
    grid-row: 76 / 86; /* 10 */
    background-color: rgb(173, 173, 173);
}

.part15 {
    grid-column: 36 / 61; /* 25 */
    grid-row: 86 / 96; /* 10 */
    background-color: black;
}

.part16 {
    grid-column: 61 / 95; /* 34 */
    grid-row: 61 / 76; /* 15 */
    background-color: rgb(214, 213, 213);
}

.part17 {
    grid-column: 61 / 95; /* 34 */
    grid-row: 76 / 96; /* 20 */
    background-color: blue;
}

.part18 {
    grid-column: 11 / 36; /* 25 */
    grid-row: 86 / 101; /* 15 */
    background-color: rgb(214, 213, 213);
}

.part19 {
    grid-column: 36 / 95; /* 59 */
    grid-row: 96 / 101; /* 5 */
    background-color: rgb(173, 173, 173);
}

.part20 {
    grid-column: 95 / 101; /* 6 */
    grid-row: 76 / 101; /* 25 */
    background-color: red;
}

.mondrian-original {
    grid-column: 4 / 7;
}