body {
    text-align: center;
}

button {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    border: 1px solid black;
}

.row:hover {
    background-color: green;
}