* {
    font-family: "Roboto", sans-serif;
}

/* *GRID LAYOUT */

.body {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 25% 1fr;
    grid-template-areas: "nav head"
                         "nav main";
}

.nav {
    grid-area: nav;
    background-color: #1992d4;
    color: white;
}

.header {
    grid-area: head;
    display: grid;
    grid-template-columns: 70% 1fr;
    /* ! DONT FORGET ABOUT THE HEIGHT */
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "p a"
                         "p t";
    grid-template-columns: 70% 1fr;
}

.main-projects {
    display: grid;
    grid-area: p;
    grid-template-areas: "h h";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px auto;
    gap: 20px;
    margin: 15px;
}

.main-projects_header {
    grid-area: h;
}

/* *STYLING */

/* NAVBAR */

.nav {
    display: flex;
    flex-direction: column;
}

.nav-logo {
    display: flex;
    margin: 15px;
    height: 50px;
    text-align: center;
    align-items: center;
}

svg {
    fill: white;
    width: 25px;
    margin-right: 25px;
}

.logo-picture {
    width: 40px;
    fill: white;
    margin-right: 20px;
}

ul {
    list-style: none;
}

.nav-user_navigation, .nav-user_personal {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px;
}

.header {
    background-color: #fff;
    box-shadow: rgba(85, 85, 85, 0.4) 0px 3px 5px;
    margin-bottom: 3px;
}

.header-searchbar {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.icon-searchbar, .users_menu-bell-icon {
    fill: black;
}

input {
    width: 100%;
    height: 30px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 15px;
}

.header-users_menu {
    display: flex;
    margin-left: 80px;
    align-items: center;
}

.users_menu-fullname {
    margin-left: 25px;
} 

.main {
    background-color: #e2e8f0;
}

img {
    width: 40px;
    border-radius: 50%;
}

.header-greetings {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.greetings-avatar_img {
    width: 70px;
    margin-right: 20px;
}

.greetings-hello {
    font-size: 13px;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

.buttons {
    padding: 10px 30px;
    background-color: #1992d4;
    border: none;
    color: white;
    border-radius: 20px;
}

.main-projects_header {
}