*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.book {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.book-title {
    min-width: 200px;
}

.book-author {
    min-width: 200px;
}

.book-pages {
    min-width: 50px;
}