*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

fieldset {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Автоматически добавляет колонки */
    gap: 20px;
}

.book {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .book-title {
    min-width: 200px;
}

.book-author {
    min-width: 200px;
}

.book-pages {
    min-width: 100px;
}

.read-checkbox {
    min-width: 100px;
} */