*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #824936;
    font-family: "Playfair Display";
    font-size: 4rem;
    font-weight: 1000;
    line-height: 1em;
}

h2, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    min-height: 660px;
    text-align: center;
    align-items: center;
    background-color: #F3EED9;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

.df {
    display: flex;
}

.df--spb {
    justify-content: space-between;
}

.content {
    width: 50%;
}

.content p {
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 100;
}

.quality {
    padding: 100px 0;
    background-color: #edebeb;
}

.quality__header {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "Playfair Display";
    font-size: 2.5rem;
    font-weight: 1000;
    color: #824936;
    text-align: center;
}

.quality__article p, img, .custom__content, .care__content{
    width: 46%;
}

.custom, .care {
    color: #FFF;
    padding: 100px 0;
}

.custom {
    background-color: #222C2A;
}

.care {
    background-color: #824936;
}

.custom__header, .care__header {
    margin-bottom: 30px;
    color: #f3eed9;
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 2.3rem;
}
