/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

h1, h2 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.section-one {
    padding: 3rem 0;
    background-color: #3B4050;
    color: #fff;
}

.one-title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1em;
}

span {
   color: #A59678; 
}

.one-text {
    font-family: "Montserrat", sans-serif;
    color: #b4b4b4;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #A59678;
    padding: 0.25em 1.5em;
    border-radius: 100px;
}

.section-two {
    background-color: #ebebeb;;
}

.benefit {
    text-align: center;
}

.benefit-title {
    font-family: "Oswald", sans-serif;
    color: #A59678;
}

.primary-content-title {
    color: #A59678;
}

.sidebar {
    text-align: center;
}

.sidebar__content {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #3B4050;
    color: #fff;
}

.sidebar-text, .sidebar-title {
    margin: 0;
}

.sidebar-title {
    margin-bottom: 2rem;
}

footer {
    padding: 2rem 0;
    background-color: #3B4050;
    color: #b4b4b4;
}

footer h2 {
    margin: 0;
    color: #A59678;
}

footer p, footer li {
    font-size: 1rem;
}

.footer-title {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

.footer__info {
    width: 50%;
}

.footer-nav__list {
    list-style: none;
    padding: 0;
}

.footer-nav__item {
    padding: .7rem 0;
}

.footer-nav__link {
    text-decoration: none;
    color: #b4b4b4;
}

.info-text {
    line-height: 3rem;
}


