/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

h1, h2 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
        /* added for nav-toggle positioning */
        position: relative;
}

.row {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2E323F;
    padding: 1em 0;
    text-align: center;
}

.nav {
    font-family: "Oswald", sans-serif;
    width: 100%;
}



.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    margin: -5px;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__item {
    margin-top: 0.75em;
}

.nav__link {
    text-decoration: none;
    color:#FFF;
    text-transform: uppercase;
    font-size: 1em;
}

.nav__link:hover, 
.nav__link:focus {
    opacity: .65;
}

.nav__link--button {
    padding: 0.25em 0.75em;
    background-color: #A59678;
    border-radius: 100px;

}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


.logo {
    height: 30px;
}

.section-one {
    padding: 3rem 0;
    background-color: #3B4050;
    color: #fff;
}

.one-title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1em;
}

span {
   color: #A59678; 
}

.one-text {
    font-family: "Montserrat", sans-serif;
    color: #b4b4b4;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #A59678;
    padding: 0.25em 1.5em;
    border-radius: 100px;
}

.section-two {
    background-color: #ebebeb;;
}

.benefit {
    text-align: center;
}

.benefit-title {
    font-family: "Oswald", sans-serif;
    color: #A59678;
}

.primary-content-title {
    color: #A59678;
}

.sidebar {
    text-align: center;
}

.sidebar__content {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #3B4050;
    color: #fff;
}

.sidebar-text, .sidebar-title {
    margin: 0;
}

.sidebar-title {
    margin-bottom: 2rem;
}

footer {
    padding: 2rem 0;
    background-color: #3B4050;
    color: #b4b4b4;
}

footer h2 {
    margin: 0;
    color: #A59678;
    font-size: 1.2rem;
}

footer p, footer li {
    font-size: 1rem;
}

footer .row {
    justify-content:flex-end;
}

.footer-title {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

.footer__about {
    max-width: 40%;
    margin-right: auto;
}

.footer__info {
    max-width: 125px;
    margin: 0 10px;
}

.footer-nav__list {
    list-style: none;
    padding: 0;
}

.footer-nav__item {
    padding: .7rem 0;
}

.footer-nav__link {
    text-decoration: none;
    color: #b4b4b4;
}

.info-text {
    line-height: 2.7rem;
}

@media (min-width: 700px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        position: relative;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
    }

    
    .nav__list {
        margin: 0;
        display: flex;
    }
    
    .nav__item {
        margin: 0 0 0 1.5em;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .section-one {
        padding: 4rem 0;
    }

    .one-title {
        margin: 0;
    }

    .one__content {
        align-self: flex-end;
    }
    
    .benefit {
        padding: 0 1rem;
    }

    .section-three .row {
        flex-direction: column;
    }

    .primary-content-img {
        width: 100%;
        max-height: 300px;
    }

    aside {
        display: flex;
        margin-bottom: 3rem;
    }

    .sidebar__content {
        padding: 0.5rem;
        margin: .5rem;
    }

    .sidebar-title {
        margin: 0;
        margin: 1rem 0;
    }

    .sidebar-text {
        padding: 1rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 1000px) {

    .nav__item {
        margin: 0 0 0 3em;
    }

    .section-one {
        padding: 7rem 0;
        padding-bottom: 10rem;
    }

    .one-title {
        width: 40%;
        font-size: 5.6rem;
    }

    .one__content {
        width: 50%;
        line-height: 2rem;
    }

    .one-text {
        margin-bottom: 3rem;
    }

    .btn {
        font-size: 2rem;
    }

    .section-two {
        padding: 6rem 0;
    }

    .benefit {
        padding: 0 2.5rem;
        line-height: 2rem;
    }

    .section-three {
        padding: 6rem 0;
    }

    .section-three .row {
        flex-direction: row;
    }

    .primary-content {
        width: 60%;
    }

    .primary-content-title {
        margin-top: 0;
    }

    .primary-content-img {
        margin: 3rem 0;
        width: 100%;
        max-height: 100%;
    }

    .sidebar.row {
        flex-direction: column;
        justify-content: start;
        width: 30%;
    }

    .sidebar__content {
        align-self: start;
    }

}

